* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header div.logo {
    float: left;
}

header nav.mobile {
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url(../assets/icon-menu.png);
    display: none;
    margin-top: 40px;
}

header nav.mobile ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 120px;
    background-color: white;
    text-align: center;
    z-index: 1;
    border-bottom: 4px solid #EB2D2D;
}

header nav.mobile ul li {
    font-size: 23px;
    padding: 20px 0px;
    font-style: italic;
}

header nav.mobile ul li a {
    text-decoration: none;
    color: black;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-size: 23px;
    padding: 0 20px;
    font-style: italic;
}

header nav.desktop ul li a {
    color: black;
    text-decoration: none;
}

header nav.desktop ul li a[href^="index"] {
    color: #EB2D2D;
}

section.banner {
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url(../assets/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

section.banner .text-banner {
    padding: 100px;
}

section.banner .text-banner .text-banner-single {
    width: 314px;
    height: 80px;
    margin-top: 20px;
    padding: 20px 30px;
    text-transform: uppercase;
    color: white;
    font-size: 23px;
    background-image: url(../assets/box-text.png);
    background-size: 100% 100%;
}

section.banner .text-banner .text-banner-single:nth-of-type(2) {
    width: 230px;
    height: 80px;
    position: relative;
    left: -10px;
}

section.banner .text-banner .text-banner-single:nth-of-type(3) {
    width: 200px;
    height: 80px;
    position: relative;
    left: -20px;
}

section.banner .text-banner .text-banner-single:nth-of-type(4) {
    font-size: 21px;
    width: 320px;
    height: 70px;
    color: black;
    position: relative;
    left: -30px;
    background-image: url(../assets/box-white-text.png);
}

section.vehicle-highlight {
    padding: 60px 2%;
}

section.vehicle-highlight .line-title {
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

section.vehicle-highlight .line-title h2 {
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
} 

section.vehicle-highlight .line-title .ln1 {
   position: absolute;
   height: 2px;
   width: 100%;
   background-color: black;
   top: 20px;
}

section.vehicle-highlight .container {
    max-width: 1000px;
    padding: 40px 0;
}

section.vehicle-highlight .container .showcase-highlight {
    float: left;
    width: 33.3%;
}

section.vehicle-highlight .container .showcase-highlight .car-img {
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 8px solid white;
}

section.vehicle-highlight .container .showcase-highlight .one {
    background-image: url(../assets/car-1.jpg);
}

section.vehicle-highlight .container .showcase-highlight .two {
    background-image: url(../assets/car-2.jpg);
}

section.vehicle-highlight .container .showcase-highlight .three {
    background-image: url(../assets/car-3.jpg);
    transform: scaleX(-1);
}

section.vehicle-highlight .container .showcase-highlight .car-info h2 {
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

section.vehicle-highlight .container .showcase-highlight .car-info p {
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
    padding-top: 8px;
}

section.vehicle-highlight .container .showcase-highlight .car-info a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: #EB2D2D;
    margin-left: 8px;
    margin-top: 10px;
    display: block;
    border: 0;
    line-height: 45px;
}

section.vehicle-highlight .container .showcase-highlight .car-info a:hover {
    transition: 250ms ease-out;
    background-color: #B21E1E;
}

@media screen and (max-width: 1400px) {
    
    section.banner {
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px) {
    
    section.banner {
        height: 70vw;
        min-height: 500px;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width: 860px) {

    header nav.desktop {
        display: none;
    }

    header nav.mobile {
        display: block;
    }

    section.vehicle-highlight .line-title h2 {
        font-size: 23px;
    } 

    section.vehicle-highlight .container {
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }

    section.vehicle-highlight .container .showcase-highlight {
        width: 65%;
        float: none;
        display: inline-block;
        margin-top: 20px;
    }

    section.vehicle-highlight .container .showcase-highlight .car-info a {
       display: inline-block;
    }
}

@media screen and (max-width: 580px) {

    section.banner .text-banner {
        padding: 40px;
    }
    
    section.banner .text-banner .text-banner-single {
        font-size: 18px;
        height: 70px !important;
    }

    section.vehicle-highlight .container .showcase-highlight {
        width: 80%;
    }
}
