* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header div.logo {
    float: left;
}

header nav.mobile {
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url(../assets/icon-menu.png);
    display: none;
    margin-top: 40px;
}

header nav.mobile ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 120px;
    background-color: white;
    text-align: center;
    z-index: 1;
    border-bottom: 4px solid #EB2D2D;
}

header nav.mobile ul li {
    font-size: 23px;
    padding: 20px 0px;
    font-style: italic;
}

header nav.mobile ul li a {
    text-decoration: none;
    color: black;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-size: 23px;
    padding: 0 20px;
    font-style: italic;
}

header nav.desktop ul li a {
    color: black;
    text-decoration: none;
}

header nav.desktop ul li a[href^="index"] {
    color: #EB2D2D;
}

header nav.desktop ul li a:after {
    display: block;
    content: '';
    border-bottom: 1px solid #252525;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

header nav.desktop ul li a[href^="index"]:after {
    display: block;
    content: '';
    border-bottom: 1px solid #EB2D2D;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

header nav.desktop ul li a:hover:after {
    transform: scale(1);
}

section.banner {
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url(../assets/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

section.banner .text-banner {
    padding: 100px;
}

section.banner .text-banner .text-banner-single {
    width: 314px;
    height: 80px;
    margin-top: 20px;
    padding: 20px 30px;
    text-transform: uppercase;
    color: white;
    font-size: 23px;
    background-image: url(../assets/box-text.png);
    background-size: 100% 100%;
}

section.banner .text-banner .text-banner-single:nth-of-type(2) {
    width: 230px;
    height: 80px;
    position: relative;
    left: -10px;
}

section.banner .text-banner .text-banner-single:nth-of-type(3) {
    width: 200px;
    height: 80px;
    position: relative;
    left: -20px;
}

section.banner .text-banner .text-banner-single:nth-of-type(4) {
    font-size: 21px;
    width: 320px;
    height: 70px;
    color: black;
    position: relative;
    left: -30px;
    background-image: url(../assets/box-white-text.png);
}

section.vehicle-highlight {
    padding: 60px 2%;
}

section.vehicle-highlight .line-title {
    position: relative;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
}

section.vehicle-highlight .line-title h2 {
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
} 

section.vehicle-highlight .line-title .ln1 {
   position: absolute;
   height: 2px;
   width: 100%;
   background-color: black;
   top: 20px;
}

section.vehicle-highlight .container {
    max-width: 1000px;
    padding: 40px 0;
}

section.vehicle-highlight .container .showcase-highlight {
    float: left;
    width: 33.3%;
}

section.vehicle-highlight .container .showcase-highlight .car-img {
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 8px solid white;
}

section.vehicle-highlight .container .showcase-highlight .one {
    background-image: url(../assets/car-1.jpg);
}

section.vehicle-highlight .container .showcase-highlight .two {
    background-image: url(../assets/car-2.jpg);
}

section.vehicle-highlight .container .showcase-highlight .three {
    background-image: url(../assets/car-3.jpg);
    transform: scaleX(-1);
}

section.vehicle-highlight .container .showcase-highlight .car-info h2 {
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

section.vehicle-highlight .container .showcase-highlight .car-info p {
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
    padding-top: 8px;
}

section.vehicle-highlight .container .showcase-highlight .car-info a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    width: 100px;
    background-color: #EB2D2D;
    margin-left: 8px;
    margin-top: 10px;
    display: block;
    line-height: 45px;
}

section.vehicle-highlight .container .showcase-highlight .car-info a:hover {
    transition: 250ms ease-out;
    background-color: #B21E1E;
}

section.services-description {
    display: flex;
}

section.services-description .half-one {
    width: 50%;
    padding: 90px 0;
    background-color: #242424;
    color: white;
    text-align: right;
}

section.services-description .half-one .half-one-wraper {
    display: inline-block;
    text-align: left;
    padding-right: 100px;
}

section.services-description .half-one .half-one-wraper h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}

section.services-description .half-one .half-one-wraper ul {
    margin-top: 20px;
    list-style-position: inside;
    display: inline-block;
    font-size: 20px;
}

section.services-description .half-one .half-one-wraper a {
    margin-left: 40px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    width: 100px;
    background-color: #EB2D2D;
    display: inline-block;
    line-height: 45px;
    vertical-align: bottom;
}

section.services-description .half-one .half-one-wraper a:hover {
    transition: 250ms ease-out;
    background-color: #B21E1E;
}

section.services-description .half-two {
    width: 50%;
    padding: 90px 100px;
    background-color: #EB2D2D;
    color: white;
}

section.services-description .half-two h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}

section.services-description .half-two .statement-single {
    margin-top: 20px;
}

section.services-description .half-two .statement-single p {
    font-size: 20px;
}

section.services-description .half-two .statement-single .navigation {
    margin-top: 30px;
    float: left;
    width: 100%;
    max-width: 700px;
}

section.services-description .half-two .statement-single .navigation .arrows {
    float: left;
}

section.services-description .half-two .statement-single .navigation .arrows img {
    margin: 0 10px;
    cursor: pointer;
}

section.services-description .half-two .statement-single .navigation .name-statement {
    float: right;
    color: #252525;
    font-size: 23px;
}

section.contact {
    padding: 60px 2%;
}

section.contact .line-title {
    position: relative;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
}

section.contact .line-title h2 {
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
} 

section.contact .line-title .ln1 {
   position: absolute;
   height: 2px;
   width: 100%;
   background-color: black;
   top: 20px;
}

section.contact form {
    max-width: 600px;
    margin: 50px auto;
}

section.contact form .input-wraper {
    float: left;
    padding: 5px;
}

section.contact form .w50 {
    width: 50%;
}

section.contact form .w100 {
    width: 100%;
}

section.contact form .input-wraper input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}

section.contact form .input-wraper textarea {
    width: 100%;
    border: 1px solid #ccc;
    height: 120px;
    padding: 8px;
    resize: none;
}

section.contact form .input-wraper:nth-of-type(5) {
    text-align: center;
}

section.contact form .input-wraper input[type=submit] {
    cursor: pointer;
    border: 0;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    width: 100px;
    background-color: #EB2D2D;
    display: inline-block;
    line-height: 45px;
}

section.contact form .input-wraper input[type=submit]:hover {
    transition: 250ms ease-out;
    background-color: #B21E1E;
}

section.contact form .input-wraper input, section.contact form .input-wraper textarea {
    outline: 0;
}

footer {
    padding: 40px 2%;
    background-color: #252525;
}

footer nav {
    float: left;
}

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    float: left;
    font-size: 19px;
    padding: 0 20px;
    font-style: italic;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
}

footer p {
    float: right;
    color: white;
    font-size: 19px;
}

footer nav ul li a[href^="index"] {
    color: #EB2D2D;
}

footer nav ul li a:after {
    display: block;
    content: '';
    border-bottom: 1px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

footer nav ul li a[href^="index"]:after {
    display: block;
    content: '';
    border-bottom: 1px solid #EB2D2D;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

footer nav ul li a:hover:after {
    transform: scale(1);
}

@media screen and (max-width: 1400px) {
    
    section.banner {
        background-size: 90% auto;
        background-position: 200% 100%;
    }

    section.services-description {
        flex-direction: column;
    }

    section.services-description .half-one {
        text-align: left;
        padding: 70px 100px;
    }

    section.services-description .half-one, section.services-description .half-two {
        width: 100%;
    }

    /* section.services-description {
        display: inline-block;
    }

    section.services-description .half-one {
        width: 100%;
        text-align: center;
    }

    section.services-description .half-two {
        width: 100%;
    }

    section.services-description .half-two .statement-single .navigation {
        width: 100%;
        max-width: 1400px;
    } */
}

@media screen and (max-width: 1024px) {
    
    section.banner {
        height: 70vw;
        min-height: 500px;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width: 860px) {

    header nav.desktop {
        display: none;
    }

    header nav.mobile {
        display: block;
    }

    section.vehicle-highlight .line-title h2 {
        font-size: 23px;
    } 

    section.vehicle-highlight .container {
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }

    section.vehicle-highlight .container .showcase-highlight {
        width: 65%;
        float: none;
        display: inline-block;
        margin-top: 20px;
    }

    section.vehicle-highlight .container .showcase-highlight .car-info a {
       display: inline-block;
    }

    section.services-description .half-one .half-one-wraper a {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }

    section.services-description .half-one .half-one-wraper li {
        font-size: 18px;
    }

    section.services-description .half-two .statement-single p {
        font-size: 18px;
    }

    section.contact form .w50 {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    footer nav {
        display: none;
    }

    footer p {
        float: none;
    }
}

@media screen and (max-width: 580px) {

    section.banner .text-banner {
        padding: 40px;
    }
    
    section.banner .text-banner .text-banner-single {
        font-size: 18px;
        height: 70px !important;
    }

    section.vehicle-highlight .container .showcase-highlight {
        width: 80%;
    }

    section.services-description .half-one .half-one-wraper li:nth-last-of-type(1) {
        display: none;
    }
}
